$yellow:#EBA977;
$blue:#151D2F;
$container-color:#2B304D;

@mixin arrow{
	width:29px;
	height:30px;
	background-color: rgba(128, 128, 128, 0.481);
	display: flex;
	justify-content: center;
	border-radius: 50%;
	transition:0.38s ease-in-out;
	cursor:pointer;
	&:hover{
		background-color: rgba(128, 128, 128, 0.922);
	}
}

#navbar{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #2B304D;
	min-height:30px;
	height:4vh;
	width:fit-content;
	margin-inline: auto;
	border-radius:0px 0px 20px 20px;
	display:flex;
	align-items: center;
	justify-content: center;
	gap:100px;
	padding-inline: 20px;
	#nav-items{
		cursor:pointer;
		display: flex;
		gap:7px;
		#svg{
			width:20px;
			height:auto;
			fill:white;
			transition:0.191s ease-in-out;
			&:hover{
				fill:#EBA977;
			}
		}
	}


}

#sidebar{
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	display:flex;
	width:100vw;
	cursor:default;
	color:$blue;
	// font-weight: bold;
	font-size:90px;
	#left{
		height:100vh;
		background-color: #2B304D;
		width:4vw;
		min-width:20px;
		position:absolute;
		top:0%;
		display:flex;
		align-items: center;
		left:0%;
		#text{
			transform: translateX(-40%);
			writing-mode:vertical-lr;
			animation: glow 1s  ease-out forwards;
			animation-delay: 3s;
			
		}
		
	}
	#right{
		display:flex;
		align-items: center;
		justify-content: flex-end;
		right:0%;
		position:absolute;
		top:0%;
		width:4vw;
		min-width:20px;
		height:100vh;
		background-color: #2B304D;
		#text2{
			transform:translateX(60%);
			writing-mode:vertical-lr;
			animation: glow 1s  ease-out forwards;
			animation-delay: 3s;
		}
	}
}

@keyframes glow{
	0%{
		color:#2B304D;
		text-shadow:transparent;
	}
	20%{
		color:#EBA977;
		text-shadow:0px 0px 11px #eba97799;
	}
	45%{
		color:#2B304D;
		text-shadow:transparent;

	}
	65%{
		color:#EBA977;
		text-shadow:0px 0px 11px #eba97799;
	}
	90%{
		color:#2B304D;
		text-shadow:transparent;

	}
	100%{
		color:#EBA977;
		text-shadow:0px 0px 11px #eba97799;
	}
}
body{
	background: #151D2F;
}

#content-container{
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

	display:flex;
	flex-direction: column;
	height:100vh;
	align-items: center;
	width:100vw;

	#top{
		color:white;
		margin-top: 10px;
		background-color: #2B304D;
		width:85vw;
		height:50vh;
		border-radius: 20px;
		transition:0.38s ease-in-out;

		#header-content{
			color:white;
			display: flex;
			justify-content: center;
			height:15vh;
			flex-direction: column;
			align-items: center;
			cursor:default;
			transition:0.38s ease-in-out;
			#header{
				font-size:4vw;
				font-weight: 600;

			}
			#side-header{
				font-size:2vw;
				font-weight: 100;	
			}
		}

		#item{
			display: flex;
			margin-top: 3vh;
			position:relative;
			// background-color: white;
			align-items: center;
			justify-content: center;
			height:30vh;
			gap:10px;
			// transition:0.38s ease-in-out;
			#arrowback{
				@include arrow();
				transform: rotate(180deg);
				position:absolute;
				left:25%;

			}
			#arrowforward{
				@include arrow();
				position:absolute;
				right:25%;

			}

			#pic{
				color:white;
				// transition:0.38s ease-in-out;
				// background-color: white;
				// width: fit-content;
				width:20vw;
				padding-inline: 50px;
				// overflow: hidden;
				img{
					width:20vw;
					height:auto;
				}
			}
		}

		// &:hover{
		// 	width:80vw;
		// 	height:45vh;
			

		// 	#header-content{
		// 		scale: 1.1;
		// 	}
		// 	#arrowback{
		// 		scale:1.1;
		// 	}
		// 	#arrowforward{
		// 		scale:1.1;
		// 	}
		// 	#pic{
		// 		scale:1.1;
		// 	}
		// 	#item{
		// 		gap:20px;
		// 	}
		// }

	}
}