body{
	overflow:hidden;
	margin:0px;
}
main{
	font-family:Arial, Helvetica, sans-serif;
	height:100vh;
	width:100vw;
	background: rgb(54, 6, 164);
	background: linear-gradient(45deg, rgb(67, 11, 189) 2%, rgba(6, 74, 164, 1) 35%, rgba(19, 139, 195, 1) 65%, rgba(97, 198, 255, 1) 100%);
	animation: grad 1s ease-in-out infinite linear;
	margin:0px;
}
@keyframes grad {
	0% {
	  background: linear-gradient(90deg, rgb(67, 11, 189) 2%, rgba(6, 74, 164, 1) 45%, rgba(19, 139, 195, 1) 75%, rgba(97, 198, 255, 1) 100%);
	}
	25% {
	  background: linear-gradient(90deg, rgba(54, 6, 164, 1) 10%, rgba(6, 74, 164, 1) 75%, rgba(19, 139, 195, 1) 85%, rgba(97, 198, 255, 1) 100%);
	}
	50% {
	  background: linear-gradient(90deg, rgb(67, 11, 189) 15%, rgba(6, 74, 164, 1) 85%, rgba(19, 139, 195, 1) 95%, rgba(97, 198, 255, 1) 100%);
	}
	75% {
	  background: linear-gradient(90deg, rgba(54, 6, 164, 1) 10%, rgba(6, 74, 164, 1) 75%, rgba(19, 139, 195, 1) 85%, rgba(97, 198, 255, 1) 100%);
	}
	100% {
	  background: linear-gradient(90deg, rgb(67, 11, 189) 2%, rgba(6, 74, 164, 1) 45%, rgba(19, 139, 195, 1) 75%, rgba(97, 198, 255, 1) 100%);
	}
  }
  
  #main-container{
	  #auth-container{
		min-width:400px;
		min-height:300px;
		overflow:hidden;
		  width: 40vw;
		  height:80vh;
		  background-color: rgba(174, 172, 172, 0.1);
		  border:2px solid rgba(0, 0, 0, 0.309) ;
		  display: flex;
		  flex-direction: column;
		  transform:translateY(10vh);
		  
		  backdrop-filter:blur(30px);
		  border-radius:24px;
		  display:flex;
		  margin-left:auto;
		  margin-right:10vh;

		  #auth-nav{
			color:black;
			display: flex;
			width:100%;
			height:fit-content;
			margin-top: 5%;
			font-size: 1.4em;
			#nav-options{
				width:100%;
				display: flex;
				justify-content: center;
				flex-wrap: nowrap;
				padding-bottom: 3%;
				cursor:pointer;
				border-bottom:1px transparent solid;
				transition: font-size 0.1s ease;
				transition: border-bottom 0.38s ease-in-out;
				// &:hover{
				// 	border-bottom:1px white solid;
				// }
				&:active{
					// color:white;
					font-size:85%;
				}
			}
			
		  }

		  #container-input{
			color:rgb(0, 0, 0);
			display:flex;
			justify-content: center;
			flex-direction: column;
			gap:50px;
			// align-items: center;
			margin-left:7%;
			margin-right:7%;
			margin-top: 4%;
			#user-input{
				input{
					background-color: rgba(255, 255, 255, 0);
					outline:none;
					margin-top:10vh;
					padding-right: 45%;
					border:transparent;
					font-size:1.2rem;
					border-bottom:1px solid grey;
					width:fit-content;
					color:white;
					&::placeholder {
						color: rgb(72, 72, 72);
					}

					&:focus{
						border-bottom:1px solid rgb(255, 255, 255);
					}
				}
				#login-but {
					
					margin-top: 10vh;
					
					display: flex;
					justify-content: center;
					padding: 10px;
					border: white solid 1px;
					background-color: transparent;
					color: white;
					padding-inline: 15px;
					border-radius: 20px;
					transition: 0.38s ease-in-out;
					cursor:pointer;
			
					&:hover {
						transform: scale(1.05);
						padding-inline: 30px;
						border-radius: 10px;
						border: transparent;
						background-color: rgba(6, 74, 164, 1);
					}
				}
			}
		  }
		}
	}
	
	